In [4]:
from pandas_datareader import data as pdr 
import yfinance as yf 
yf.pdr_override()

dow = pdr.get_data_yahoo('^DJI', '2000-01-04')
kospi = pdr.get_data_yahoo('^KS11', '2000-01-04')

import matplotlib.pyplot as plt

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                   Open         High  ...    Adj Close    Volume
Date                                  ...
2000-01-04  1028.329956  1066.180054  ...  1059.040039  19589800
2000-01-05  1006.869995  1026.520020  ...   986.309998  25769600
2000-01-06  1013.950012  1014.900024  ...   960.789978  20352300
2000-01-07   949.169983   970.159973  ...   948.650024  21566400
2000-01-10   979.669983   994.940002  ...   987.239990  24017500
...                 ...          ...  ...          ...       ...
2020-11-13  2470.120117  2495.770020  ...  2493.870117   1072400
2020-11-16  2507.459961  2546.370117  ...  2543.030029   1239100
2020-11-17  2544.120117  2556.090088  ...  2539.149902   1266400
2020-11-18  2548.850098  2553.949951  ...  2545.639893    923500
2020-11-19  2536.889893  2548.949951  ...  2547.419922    961468

[5141 rows x 6 columns]